
<%- include('header') %>
<body class="bg-gray-900 text-white">
    <!-- Navbar -->
    <%- include('navbar') %>

    <!-- Hero Section -->
    <div class="container mx-auto py-12 flex flex-col md:flex-row items-center">
        <div class="md:w-1/2 mb-8 md:mb-0">
            <img src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=650"
                alt="Movie Banner" class="rounded-lg shadow-lg">
        </div>
        <div class="md:w-1/2 text-center md:text-left">
            <h1 class="text-5xl font-bold mb-6">Welcome to the ReelRentals</h1>
            <p class="text-lg mb-8">Easily manage movies, customers, and rentals with our intuitive system. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos optio architecto quas ullam culpa, dolorum veniam ducimus iure ipsam error fuga, ratione nam, distinctio impedit reprehenderit eum molestiae soluta illo esse. Quam, dolores! Ullam eum, id maxime est odit porro!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam esse quas molestias minus molestiae cumque reprehenderit vero aspernatur ut! Consectetur delectus accusantium rem debitis provident libero veritatis dolorum ullam nisi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, similique minima omnis voluptate repudiandae dolorum unde ea et optio mollitia impedit exercitationem officiis voluptatem. Ipsa fuga rerum minus ut vel. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum accusantium perferendis minima eius tenetur aut optio facilis praesentium necessitatibus quos. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora maxime placeat culpa, minima accusamus doloribus quas. Quidem repudiandae minima accusantium. </p>
            <a href="/movies" class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded-md">View Movies</a>
            <a href="/customers" class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded-md ml-4">View Customers</a>
        </div>
    </div>

    <!-- About Us Section -->
    <div class="container mx-auto py-12">
        <h2 class="text-4xl font-bold mb-6 text-center">About Us</h2>
        
        <p class="text-lg mb-6 text-center">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam laudantium facere necessitatibus mollitia hic explicabo omnis molestiae aut voluptate odit veniam natus, repudiandae impedit corporis nulla cumque beatae consequatur provident inventore a quo, vero, qui corrupti quasi. Cupiditate vero consequatur impedit modi quas iusto? Dolor porro adipisci soluta laborum libero?
            
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius atque recusandae quia illo, dolorum aliquid ullam quibusdam at quo magni rerum nostrum laboriosam, eaque provident voluptate harum! Aliquid, ab. Iusto, in! Ad rem sint tempore eos expedita! Quod, laborum quibusdam, impedit neque molestiae facilis ad iste beatae nemo deserunt obcaecati.
            <br>
            
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, eaque odio at rerum delectus repudiandae ab excepturi repellendus. Fuga ut possimus fugit neque fugiat odit sint explicabo error consequuntur facilis distinctio id quidem vel esse aliquid eius quis numquam iure, voluptate rerum. Ipsa perspiciatis tempora voluptas id, facilis fugiat molestias?
        </p>
        <p class="text-lg mb-6 text-center">
            Join us today and start exploring the wonderful world of movies!
        </p>
    </div>


   <!-- Footer -->
<%- include ('footer') %>

</body>

</html>
